<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Тут создаем урок</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        p {
            padding: 10px;
        }

        #left {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
        }

        #right {
            position: absolute;
            right: 0;
            top: auto;
            width: 50%;
        }
    </style>
    <script>
        function loadVideo() {
            var link = document.getElementById("video").value;
            var fin_link = link.replace("watch?v=", "embed/")
            document.getElementById("video_player").src = fin_link;
        }
    </script>


</head>
<body>
<h1 layout:fragment="header" class="container-fluid">Тут создаем урок</h1>
<div layout:fragment="content"
     class="container-fluid">
    <form id="lessonForm"
          th:action="@{/(form)}"
          th:object="${lesson}"
          action="#"
          method="post"
          class="">
        <div class="grid" style="--bs-columns: 2;">
            <!--<div th:if="${#fields.hasErrors('*')}"-->
            <!--class="alert alert-error">-->
            <!--<p th:each="error : ${#fields.errors('*')}"-->
            <!--th:text="${error}">-->
            <!--Validation error-->
            <!--</p>-->
            <!--</div>-->
            <div>
                <label for="name">Название урока</label>
                <input type="text"
                       th:field="*{name}" placeholder='Java primary' class="form-control"/>
                <!--th:class="${#fields.hasErrors('summary')} ? 'field-error'"/>-->
            </div>
            <div>
                <label for="description">Описание урока</label>
                <textarea class="form-control"
                          th:field="*{description}">
                      th:class="${#fields.hasErrors('text')} ? 'field-error'">
                  </textarea>
            </div>
            <div>
                <label for="video">Ссылка на видео</label>
                <input type="text" th:class="${#fields.hasErrors('video')} ? 'field-error'"
                       th:field="*{video}"/>
                <!--th:class="${#fields.hasErrors('text')} ? 'field-error'">-->
            </div>
            <div>
                <label for="iframe">Предпоказ видео!</label>
                <input onclick="loadVideo()" type="button" value="Нажми на меня"/>

            </div>
            <iframe id="video_player" width="560" height="315" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen="true">

            </iframe>

            <div class="mb-3">
                <label for="disabledSelect" class="form-label">КУРС</label>
                <select th:field="*{course}" id="disabledSelect" class="form-select">
                    <option th:value="english">Английский для школьников</option>
                    <option th:value="java">Java</option>
                </select>
            </div>

            <button id="add__course" class="header__butto">+ДОБАВИТЬ КУРС</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="./js/scripts.js"></script>

            <!-- Модальное окно -->
            <div class="modal">
                <div class="modal__content">
                    <!-- Контент модального окна -->
                    <h1 class="modal__title">Введите название курса</h1>
                    <p class="modal__description">Здесь будет ввод</p>
                    <input type="text"
                    th:field="*{corse}" placeholder='Java primary' class="form-control"/>
                    <button class="modal__close-button">Отмена</button>
                </div>
            </div>

<!--            <input type='button' value="+ДОБАВИТЬ КУРС" class="btn btn-outline-info"/>-->
            <input type="submit" value="Cохранить" style="margin-left:800px" class="btn btn-success"/>
            <a th:href="@{/}" href="lessons.html" class="btn btn-warning">Отмена</a>

        </div>
    </form>
</div>

<!--lksd-->
</body>
</html>