<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Lessons : View all</title>
  </head>
  <body>
    <h1 layout:fragment="header">Lessons : View all</h1>
    <div layout:fragment="content" class="container">
      <div class="pull-right">
        <a href="form.html" th:href="@{/(form)}">Create Lesson</a>
       </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Video</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr th:if="${lessons.empty}">-->
            <!--<td colspan="3">-->
              <!--No lessons-->
            <!--</td>-->
          <!--</tr>-->
<!--          <tr th:if="${lessons.empty}">-->
<!--            <td colspan="3">-->
<!--              No lessons-->
<!--            </td>-->
<!--          </tr>-->
          <tr th:each="lesson : ${lessons}">
            <td th:text="${lesson.id}">1</td>
            <td>
              <a href="view.html"
                  th:href="@{'/' + ${lesson.id}}"
                  th:text="${lesson.name}">
                Имя
              </a>
            </td>
              <td><a href="view.html"
                  th:href="@{'/' + ${lesson.id}}"
                  th:text="${lesson.description}">
                описание
              </a></td>
              <td><a href="view.html"
                  th:href="@{'/' + ${lesson.id}}"
                  th:text="${lesson.video}">
                видео
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>