<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Lessons : View all</title>
  </head>
  <body>

    <h1 layout:fragment="header">Ваши уроки:</h1>
    <div layout:fragment="content" class="container-md">
      <div class="pull-right">
        <a href="form.html" th:href="@{/(form)}">Добавить урок</a>
       </div>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <td>#</td>
            <td>Название</td>
            <td>Описание</td>
            <td>Видео</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${lessons.empty}">
            <td colspan="3">
              No lessons
            </td>
          </tr>
          <tr th:each="lesson : ${lessons}">
            <td th:text="${lesson.id}">1</td>
            <td>
              <a href="view.html"
                  th:href="@{'/' + ${lesson.id}}"
                  th:text="${lesson.summary}">
                The summary
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
