<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layoutborya">
<!--      layout:decorator="layoutborya">-->

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet"/>
    <title>Я люблю водку и бар Элтон</title>
    <script>
        function loadVideo() {
            var link = document.getElementById("video").value;
            var fin_link = link.replace("watch?v=", "embed/")
            document.getElementById("video_player").src = fin_link;
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-6">
            <h1>Название курса</h1>
            <h4 th:text="${courseteacher?.name}">Имя этого в залупу дарного преподавателя</h4>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col col-lg-2">
            <input type="submit" value="ЗАПИСАТЬСЯ НА КУРС" class="btn btn-info"/>
        </div>
    </div>
    <div class="card-columns">
        <div th:each="lesson : ${lessons}">
            <div class="card">
                <iframe th:src="${lesson.video}" width="392" height="220" class="card-img-top"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="true">
                </iframe>
                <div class="card-body">
                    <p class="card-text" th:href="@{'/' + ${lesson.id}}" th:text="${lesson.name}">Card title</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>