body {
    font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 18px;
  background: whitesmoke;
  background-size: 100%;}

.logo {background: black;
height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graficlogo {
    max-width: 100%;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;

}

nav {
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
}
.topnav {
    background-color: black;
    font-size: 30px;
    margin-top: 20px;
}
.topnav a{
    color: white;
    padding: 10px 20px;
    font-size: 30px;
}

.topnav a:hover {
    border-bottom: 2px solid white;
}

a {text-decoration: none}

.main {background-image: url("img/imageedit_1_7813215538.png") ;
height: 1240px;
background-size: 100%;}

.main-info {color: white;
font-family: 'Raleway', sans-serif;
    text-align: center;
  font-size: 75px;
  padding: 30px;
padding-top: 150px}

.main-size {font-size: 32px;
margin-top: 100px}

.tape {font-size: 60px;
margin-top: 350px;
color: whitesmoke}

.info-tape {font-size: 30px;
margin-top: 48px;
min-width: 800px;
text-align: center;
padding: 30px 100px;
word-spacing: 10px;
line-height: 30px;
color: whitesmoke}

.site-footer {background: black;
height: 150px;
width: 100%;
text-align: center;
margin-top: 60px;
text-decoration-color: black;
font-size: 30px}

.footer-word {
    color: white;
    font-size: 30px;
}
.footer-word a:hover{
    border-bottom: 2px solid white;
}
table, th, td {
  border: 1px solid black;
}


.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}


.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}

.modal__close-button {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}

.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.modal__description {
  font-size: 1.125rem;
}

